body {
background-color:#696969;

}

.inner-cover {
	text-align:center;
	width: 600px;
	word-wrap:break-word;
	position: absolute;
    height: 200px;
    
    top: 50%;
    left: 50%;
}

.other {
margin: -100px 0 0 -100px;

}