h1 {
color:black;
font-family: Helvetica;

}

.jumbotron {
	
	background-image:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1QLGdH7U9K04wZppj49mGrxwrWhMcLMnTZUdqozZ7OvNqIuYnMg');
	height:1000px;
	color: red;
	}
	
.row {
	width:100%;
	
}	

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.nav li {
  display: inline;
}

.icon-menu {
  
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-transform: uppercase;
}
.menu-block {
height:200px;
width:100%;
background-color:black;
}